<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
</table>
<% if user != current_user %>
  <% if current_user.following?(user) %>
    <%= link_to user_relationships_path(user), method: :delete, class:"text-decoration-none" do %>
      <button class="btn btn-danger">フォロー解除</button>
    <% end %>
  <% else %>
    <%= link_to user_relationships_path(user), method: :post, class:"text-decoration-none" do %>
      <button class="btn btn-primary">フォロー</button>
    <% end %>
  <% end %>
<% else %>
  <div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>