<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: '100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <td><%= link_to user.followings.count, user_followings_path(user) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, user_followers_path(user) %></td>
  </tr>
</table>
<div class="d-flex">
  <% if user != current_user %>
    <div id='follow-btn'>
       <%= render 'relationships/btn', user: user  %>
    </div>
  <% end %>
  <!--DM機能-->
  <div class=" ml-3">
    <% unless user.id == current_user.id %>
      <% if (current_user.following? @user) && (user.following? current_user)  %>
        <% if @isRoom == true %>
          <%= link_to 'メッセージ', room_path(@roomId), class: 'btn btn-dark' %>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: user.id %>
            <% end %>
            <%= f.submit "メッセージ", class: 'btn btn-dark' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<!--DM機能-->
<!--ユーザー編集ボタン-->
<% if user == current_user %>
  <div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>
<!--ユーザー編集ボタン-->
